.daily h2 {
  font-size: 2rem;
  color: #FF9102;
  margin: 1.5rem;
}

#daily-ul {
  list-style: none;
  flex-direction: column;
  display: flex;
  width: 25rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #282C34;
  /* background-color: rgba(253, 194, 1, 0.993); */
  font-size: 1.2rem;
  align-items: center;
  /* gap: 1rem; */
  margin-bottom: 2rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#daily-top {
  display: flex;
  gap: 2rem;
  align-items: center;
}

#daily-ul span {
  font-weight: bold;
  color: white;
}

#daily-description {
  font-size: 1.5rem;
}

#daily-temp-feel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#daily-date {
  font-size: 1.2rem;
  margin-top: 1rem;
}

#daily-header {
  display: flex;
  align-items: center;
}

#test {
  flex-grow: 2;
}