.App {
  text-align: center;
}

.App p {
  margin: 2rem 5rem;
  font-size: 1.2rem;
}

.form {
  margin-top: 2rem;
}

.form input {
  font-size: 1.5rem;
}

.form button {
  font-size: 1.5rem;
  font-weight: bold;
}

.aside {
  margin-top: 2rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 2rem;
}

.aside button {
  font-size: 1.2rem;
  font-weight: bold;
  background: none;
  border: none;
  text-decoration: underline;
}

.aside a {
  color: #282c34a4;
}

.aside a:hover {
  cursor: pointer;
}

.aside p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}